build/
dist/
local/
work/
backup/
**/target/
**/__pycache__/
*.pyc
*.dll
*.exe
*.phyre
*.lse
*.sav
*.log
.env*
platforms/windows/runtime/assets/*.bin
platforms/windows/runtime/assets/telop_*.png
*.md
configs/
docs/
assets/clean/
assets/fonts/metadata.json

platforms/windows/runtime/assets/subs.txt
*.egg-info/
